body {
  text-align: center;
  background-color:aliceblue;
}

img {
  object-fit: cover;
  margin: 10px;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
  }

header {
  height: 100px;
  background-color: rgb(141, 195, 243);
  width: 100%;
  z-index: 12;
  position: fixed;
}

.logo{
  width: 30%;
  float: left;
  line-height: 100px;
}

.logo a{
  text-decoration: none;
  font-size: 30px;
  font-family: 'Helvetica';
  color: #392F5A;
  letter-spacing: 5px;
  text-shadow: 2px 2px #E4C1F9
}

nav {
 float:right;
 line-height: 100px; 
}
nav a {
  text-decoration: none;
  font-family: 'Helvetica';
  letter-spacing: 4px;
  font-size: 20px;
  margin: 10px;
  color: #392F5A;
  text-shadow: 2px 2px #E4C1F9;
  padding: 20px;
}

.dropbtn {
  font-size: 20px;
  padding: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 4px;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: #AEF3E7;
  background-color: #392F5A;
  text-shadow: 2px 2px #E4C1F9;
  }

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
  color: #AEF3E7;
  text-shadow: 2px 2px #E4C1F9;
  background-color: #392F5A;
  }

nav a:hover  {
  color: #AEF3E7;
  text-shadow: 2px 2px #E4C1F9;
  background-color: #392F5A;
  }

.active {
  color: #AEF3E7;
  text-shadow: 2px 2px #E4C1F9;
  background-color: #392F5A;
  padding: 20px;
}

.tech-talk-header {
  font-family: 'Helvetica';
  text-align: center;
  font-size: 30px;
  color: rgb(93, 80, 136);
  text-shadow: 2px 2px rgb(234, 215, 245);
}

.header-one {
  background-image: url('./pictures/cs.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-position: center bottom;
  background-size: cover;
  padding: 300px;
}

.border {
  margin: auto;
  left: 50%;
  right: 50%;
  border: 2px solid aliceblue;
  background-color: aliceblue;
  border-radius: 50%;
  box-shadow: 10px 10px rgb(93, 80, 136);
}

.main{
  /* background-color: #E4C1F9 */
}

html {
  scroll-behavior: smooth;
 }
 
 a {
  text-decoration: none;
  color: black;
 } 
 
 #down {
  margin-top: 100%;
  padding-bottom: 25%;
 } 
 #top,#middle,#bottom{
    height: 500px;
    width: 800px;
    /* background: #E4C1F9;  */
}
.heading
{
  font-size: 50px; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.overlay {
  transition: .5s ease;
  opacity: 0;
}
.overlay a {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlayz:hover .square {
  opacity: 0.3;
}

.overlayz:hover .overlay {
  opacity: 1;
}

.overlay-text {
  font-size: 16px;
  font-weight: bold;
} 

.inline {
  display: flex;
  flex-direction: row;
}

.marginz {
  margin: 10px
}

img:hover
{
  transform: scale(1.2); /* 1.1 means that the image will increase from appearing as 100 percent to 110 percent*/
}
 .square{
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  width: 420px; 
  height: 420px; 
  object-fit: cover; 
  margin: 40px; 
  padding: 7px; 
  align-content: center; 
} 
/* width: 380px;
  height: 380px; */


.green-border {
  padding: 50px;
  margin: 15px;
  background-color: rgb(93, 80, 136);
  border-radius: 15%;
}

.intro-to-biomed-header {
color: aliceblue;
text-shadow: 2px 2px gray;
font-size:60px;
text-align: center;
}

.rest-of-text{
color: aliceblue;
text-shadow: 2px 2px gray;
font-size: 30px;
font-family: 'Helvetica';
}

.definition {
  font-size: 18px;
  font-family: 'Georgia';
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

html {
  scroll-behavior: smooth;
}

#section1 {
  height: 300px;
  background-color: pink;
}

#section2 {
  height: 300px;
  background-color: yellow;
}

.h2 {
  color: rgb(93, 80, 136);
  text-shadow: 2px 2px gainsboro;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 60px;
}

.h22 {
  color: rgb(93, 80, 136);
  text-shadow: 3px 3px gainsboro;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
}

* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}


/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

.generate {
  font-size: 20px;
  font-family: 'Helvetica';
  border-radius: 40%;
  padding: 12px;
  background-color: rgb(245, 245, 245);
  color: rgb(78, 78, 78);
}

.generate:hover {
background-color: gray;
color: rgb(245, 245, 245);
}

.generate-border {
  background-color: rgb(228, 224, 243);
  border-radius: 40%;
  margin: 25px;
}

.footer {
  padding: 20px;
  text-align: center;
  background-color: rgb(228, 224, 243);
}
img.resize {
  max-width:80%;
  max-height:80%;
  border-radius: 18%
}